<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>com.samueldillow.server.MainServlet</servlet-class>
	</servlet>
	
	<filter>
		<description> 
			This filter is designed to route all requests to the server so it can route them appropriately.
		</description>
		<filter-name>Server</filter-name>
		<filter-class>com.samueldillow.server.MainServlet</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>Server</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/MainServlet</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>SamuelDillow.jsp</welcome-file>
	</welcome-file-list>
</web-app>
